.container{
    /* background-color: aquamarine; */
    width: 100%;
    height: 100vh;
    display: flex;
}
.states{
    width: 20%;
    height: 100%;
    padding: 5px;
    background-color: #89CFF0;
}
.states h1,.cities h1, .tipoffs h1, .tipoff_details h1{
    text-align: center;
}
.state, .city, .tipoff{
    width: 20vw;
    border-radius: 5px;
}
.state p, .city p, .tipoff p{
    cursor: pointer;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1.5rem;
}
.state p:hover{
    background-color: #77bedf;
}
.cities{
    width: 20%;
    height: 100%;
    padding: 5px;
    background-color: #89cff0da;
}
.city p:hover{
    background-color: #77bedf9f;
}
.tipoffs{
    width: 30%;
    height: 100%;
    padding: 5px;
    background-color: #89cff0c9;
}
.tipoff p:hover{
    width: 100%;
    background-color: #77bedf9f;
}
.tipoff_details{
    width: 30%;
    height: 100%;
    padding: 5px;
    background-color: #89cff0b4;
}
.message{
    padding:5px;
}
.message p{
    font-size: 1.25rem
}